language: generic

env:
  global:
    DOCKER_MANYLINUX_IMAGE32=quay.io/pypa/manylinux1_i686
    DOCKER_MANYLINUX_IMAGE64=quay.io/pypa/manylinux1_x86_64
    PRE_CMD_32=linux32
    PRE_CMD_64=

matrix:
  include:
  - os: osx
    env: PY_VER=2.7
  - os: osx
    env: PY_VER=3.5
  - os: osx
    env: PY_VER=3.6
  - os: osx
    env: PY_VER=3.7
  - os: linux
    sudo: required
    services: docker
    env: PY_VER=2.7
  - os: linux
    sudo: required
    services: docker
    env: PY_VER=3.5
  - os: linux
    sudo: required
    services: docker
    env: PY_VER=3.6
  - os: linux
    sudo: required
    services: docker
    env: PY_VER=3.7

before_install:
- if [ -z "${TRAVIS_TAG}" ]; then
    export SETUPTOOLS_SCM_PRETEND_VERSION="999";
  fi
- if [ "$TRAVIS_OS_NAME" = "linux" ]; then
    docker pull $DOCKER_MANYLINUX_IMAGE64;
  elif [ "$TRAVIS_OS_NAME" = "osx" ]; then
    brew install pyenv-virtualenv;
    export PY_VER_FULL=$(
      pyenv install --list |
      grep -e ' '${PY_VER/./\.}'\.\d$' |
      tail -n 1 | tr -d "[:space:]");
    brew install swig;
    eval "$(pyenv init -)";
    eval "$(pyenv virtualenv-init -)";
    pyenv install $PY_VER_FULL;
  fi

install:
- if [ "$TRAVIS_OS_NAME" = "linux" ]; then
    docker run
      -e "PY_VER=${PY_VER}"
      -e "SETUPTOOLS_SCM_PRETEND_VERSION=${SETUPTOOLS_SCM_PRETEND_VERSION}"
      -v `pwd`:/io
      $DOCKER_MANYLINUX_IMAGE64 $PRE_CMD_64
      /io/recipe/build_manylinux.sh;
  elif [ "$TRAVIS_OS_NAME" = "osx" ]; then
    bash recipe/build_osx.sh $PY_VER_FULL;
  fi

# install:
#   - echo "Installed :D"

script:
- if [ "$TRAVIS_OS_NAME" = "linux" ]; then
    docker run
      -e "PY_VER=${PY_VER}"
      -v `pwd`:/io
      $DOCKER_MANYLINUX_IMAGE64 $PRE_CMD_64
      /io/recipe/test_manylinux.sh;
  elif [ "$TRAVIS_OS_NAME" = "osx" ]; then
    bash recipe/test_osx.sh $PY_VER_FULL;
  fi

# script:
#   - echo "Script'd"

before_deploy:
- if [ "$TRAVIS_OS_NAME" = "linux" ]; then
    docker run
      -e "PY_VER=${PY_VER}"
      -e "SETUPTOOLS_SCM_PRETEND_VERSION=${SETUPTOOLS_SCM_PRETEND_VERSION}"
      -v `pwd`:/io
      $DOCKER_MANYLINUX_IMAGE32 $PRE_CMD_32
      /io/recipe/build_manylinux.sh;
  fi
- if [ "$TRAVIS_OS_NAME" = "osx" ] && [ "${PY_VER}" = "2.7" ]; then
    pyenv activate venv_test;
    ACCELERATE=1 python setup.py sdist -d dist-osx-py${PY_VER};
    pyenv deactivate;
  fi
- rm -rf build
- if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
    docker pull continuumio/miniconda3;
    docker run
      -v `pwd`:/io
      -e PY_VER="${PY_VER}"
      -e "TRAVIS=true"
      -e "TRAVIS_BRANCH=${TRAVIS_BRANCH}"
      -e "TRAVIS_BUILD_NUMBER=${TRAVIS_BUILD_NUMBER}"
      continuumio/miniconda3
      /io/recipe/build_conda.sh /io/dist-linux-py${PY_VER};
  else
    pyenv install miniconda3-latest;
    pyenv shell miniconda3-latest;
    ./recipe/build_conda.sh dist-osx-py${PY_VER};
  fi
- zip -r dist-${TRAVIS_OS_NAME}-py${PY_VER}.zip  dist-${TRAVIS_OS_NAME}-py${PY_VER}

deploy:
  provider: releases
  api_key:
    secure: JTCJWSlhRpda+/EgPen+UZFZI/q+pd9zWz7foTIErY4vPc6OSR2SXrEnNXBU5m3gpc5Fh2kozsGxGFhlTupr9ihkavKbzLSZDQepugazFOYJ9soESWR8c0sTMjJ9MBIly6GjQqXrctfo/M08chyFI57BkG7sAp2OsloIXZxXnXA7cfO6Fyqr0vf0Vi2Gj0k1jiILGzMsOuzxotbqevCmtkUYq/VAwIvIGH5RVDhaJ3x/KOfC+M5inUbgbJmKfuzl9rvlK3i7nDD7bB7ixM/smsBf4a5f6YHgvikrK55rzLhKU2RH6vrpD8zwleuk2BFqOK+yhG06B1jgPFneFMLNk2S3DPWovSbcBfxgcNFOSr7fsC5innNi0D11UU1S1NhpcbJL563IWMDr1RTGTf0R952N+AqzEWLwN9fWM4paf5eGzMYs70ku7oEj/OXNeW2geDONOvrl283gJ27ZSurhKMCP+rw+2+1O4D9hufN1Srw3445YJW85wdCdcavFgwzR1Qcavz3UJyEmqX+M7zhsc1aWWpngLAowzTwxcqbuSpy/XnmJ/fTM6jTpTQSYYSAW+1UFgBoGzOSNFnl9CipG6EfoPu7i6Ynl1n9YVKE6JQpldeXF2I4oRxdyncqStbjdWUJ2Lrxqnnqa6NamQIzsPLw5UqCg3rFnfwkK2hmezm4=
  file_glob: true
  file: dist-${TRAVIS_OS_NAME}-py${PY_VER}.zip
  skip_cleanup: true
  on:
    tags: true
